$pageBackgroundColor: $color-white;
@include block(page) {
    flex-grow: 1;
    @include element(content) {
        @extend %content;
        background-color: $pageBackgroundColor;
        display: flex;
        height: 100%;
    }
    @include element(entries) {
        flex-shrink: 1;
        padding: 0 $layoutPadding;
    }
    @include element(quote) {
        padding-left: $layoutPadding;
        display: flex;
        &:before {
            content: "";
            min-height: 100%;
            flex-basis: $spacer-2xs;
            width: $spacer-2xs;
            margin-right: $layoutPadding;
            display: inline-block;
            flex-shrink: 0;
            background-color: $pageQuoteBarBgColor;
        }
    }
    @include element(item) {
        border-bottom: 1px solid;
        padding: $layoutPadding 0;
        &:last-child {
            border: none;
        }
    }
    @include element(itemTitle) {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: $spacer-sm;
    }
}