@include block(related) {
    overflow: hidden;
    max-width: 0;
    pointer-events: none;
    transition: max-width 0.1s ease-in;
    background-color: $relatedBgColor;
    pointer-events: auto;
    width: 300px;
    height: 100%;
    flex-shrink: 1;
    display: block;
    padding:0;
    opacity: 0;

    @include addBreakpoint(md) {
        pointer-events: auto;
        opacity: 1;
        max-width: 300px;
        height: 100%;
        flex-shrink: 0;
        padding: $layoutPadding;
    }

    @include element(item) {
        background-color: $relatedItemBgColor;
        height: 9.375rem;
        margin-bottom: $spacer-md;
    }
}