body {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

i,
em {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin:0;
}