$layoutMaxWidth:1000px;
$layoutBgcolor:#f0f0f0;
$layoutPadding:20px;


$headerBgColor: #ff993e;
$headerHeight:98px;


$footerBgColor: $headerBgColor;
$footerHeight:98px;



$relatedBgColor:#008000;











$navbarColor: $color-white;

$navbarBgColor: #c0392b;








$navbarSocialBgColor: #874000;